    .button{
    -fx-pref-width:200px;
    -fx-background-color: #f0f8ff;
    -fx-background-image: url('play10.png');
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment:center;
    }
    .button:hover{
    -fx-background-image: url('play9.png');
    }



    .slider{
    -fx-pref-width:400px;
    -fx-pref-height:50px;
    }
    .slider .track{
    -fx-background-color: linear-gradient(to left,cyan, magenta);
    }
    .slider .thumb{
    }
    .Text{
        -fx-pref-width:2px ;
        -fx-background-color: #f0f8ff;
        -fx-text-fill: black;

        -fx-alignment:center;

    }